__pycache__/
*.py[cod]

venv/
env/
.venv/
*.env

logs/
*.log

.ipynb_checkpoints/

data/Fake.csv
data/True.csv

artifacts/raw_news_data.csv
artifacts/news_data.csv

.vscode/
.idea/

.DS_Store
Thumbs.db

nltk_data/
